.schema-card {
    overflow: hidden;
    width: 90%;
    border: 1px solid black;
    border-radius: 3px;    
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.table-card-outer {
    float: left;
    width: 20%;   
    padding: 1%;
    overflow: auto;
} 

.table-card {
    width: 100%;    
    border: 1px solid black;
    border-radius: 3px;
}

.table-field {
	font-style: italic;
	font-size: small;
}

.obj-identifier {
    font-style: italic;
    font-size: x-small;
}

.fld-type {
    margin-left: 3px;
    font-style: italic;
    font-size: x-small;    
}