.schema-card {
    overflow: hidden;
    width: 90%;
    border-radius: 3px;
    margin: 5px auto;
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-gap: 1em;
    
}

.table-card-outer {
    width: 20%;   
    padding: 1%;
    overflow: auto;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
} 

.table-card-outer:nth-of-type(odd) {
    float: right;
}

.table-card {
    width: 100%;    
    padding: 8px 8px 32px 8px;
    border: 1px solid #FFECC1;
    border-radius: 3px;
    position: relative;
}

.table-field {
	font-style: italic;
	font-size: small;
}

.table-field small {
    border-top:thin solid black;
    display: block;
    line-height: 1.8em;
}

.bottom-bar {
    position: absolute;
    right:0; bottom: 0;
    display: block;
    background: #FFECC1;
}

.obj-identifier {    
    font-size: x-small;
    font-size: 0.8em;
    background: #FFCE5C;
    color: #FFB507;
    padding: 4px; 
    outline: none; border: 0;
    float: right;
}

.obj-identifier * {
    display: block;    
}

.fld-type {
    margin-left: 3px;
    font-style: italic;
    font-size: x-small;    
}