#schema-title {
    width: 100%; display: block;
}

.schema-card {
    overflow: hidden;
    width: 90%;
    border-radius: 3px;
    margin: 5px auto;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-gap: 1em;
}

.bottom-bar {
    position: relative;
    width: 100%;
    display: block;
    background: #FFECC1;
}

.table-card-outer {
    margin: 0 0 1em; padding: 1%;
    overflow: auto;
    display: block;
    width: 100%;

    -webkit-column-break-inside: avoid; /* Chrome, Safari */
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    break-inside: avoid-column;         /* IE 11 */
    display:table; 
} 

.table-card {
    width: 100%;    
    border-radius: 3px;
    position: relative;
}

.card-title {
    background: #FFCE5C;
}

.table-field {
	font-style: italic;
	font-size: small;
}

.table-field small {
    border-top:thin solid black;
    display: block;
    line-height: 1.8em;
}

.obj-identifier {    
    font-size: x-small;
    font-size: 0.8em;
    background: #FFCE5C;
    color: #FFB507;
    padding: 4px; 
    outline: none; border: 0;
    float: right;
}

.obj-identifier * {
    display: block;    
}

.fld-type {
    margin-left: 3px;
    font-style: italic;
    font-size: x-small;    
}