/* generic CSS */

html, body, div, nav {
  width: 100%;
}

.app {
  text-align: center;
}

.app-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.app-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.app-intro {
  font-size: large;
}

.app-content {
  height: 100%;
}

/* END generic CSS */

/* view transitions */
.rTransition-enter {
  opacity: 0.01;
}

.rTransition-enter.rTransition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease;
}

.rTransition-leave {
  opacity: 1;
}

.rTransition-leave.rTransition-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease;
}
/* END view transitions */

/* logo animation */
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/* END logo animation */

/* Dynamic Table */

table.dyn-tbl {
  width: 90%;
  height: 100%;
  margin-top: 5px;
  margin-left: 20px;  
  margin-right: auto;
  border-collapse: collapse;
  border: 1px solid black;
}
table.dyn-tbl tr.thead{
  background: #FFF !important;
}
table.dyn-tbl tr.thead td {
  font-weight: bold;
  font-size: medium !important;
}
table.dyn-tbl tr:nth-child(even) {
  background: #CCC;
}
table.dyn-tbl tr:nth-child(odd) {
  background: inherit
}
table.dyn-tbl td{
  font-size: small;
}
table.dyn-tbl td, 
table.dyn-tbl th {
  border: 1px solid black;
  padding-right: 4px;
}
table.dyn-tbl tr:first-child th {
  border-top: 0;
}
table.dyn-tbl tr:last-child td {
  border-bottom: 0;
}
table.dyn-tbl tr td:first-child,
table.dyn-tbl tr th:first-child {
  border-left: 0;
}
table.dyn-tbl tr td:last-child,
table.dyn-tbl tr th:last-child {
  border-right: 0;
}

/* END Dynamic Table */


/* navbar */
nav.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav.navbar li {
    float: left;
}

nav.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav.navbar li a:hover {
    background-color: #111;
}
/* END navbar */