.schema-card {
    overflow: hidden;
    width: 80%;
    border: 1px solid black;
    border-radius: 3px 3px 3px 3px;    
    margin-top: 5px;
    margin-left: 10px;
}

.table-card {
    overflow: auto;
    float: left;
    width: 20%;
    border: 1px solid black;
    border-radius: 3px 3px 3px 3px;    
    margin: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.table-field {
	font-style: italic;
	font-size: small;
}

.obj-identifier {
    font-style: italic;
    font-size: x-small;
}

.fld-type {
    margin-left: 3px;
    font-style: italic;
    font-size: x-small;    
}